<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="/assets/css/main.css" rel="stylesheet">
    <style>
        /* Remove table borders */
        .prose table, .prose td, .prose th, .prose tr, .prose tbody, .prose thead {
            border: none !important;
            border-width: 0 !important;
            border-color: transparent !important;
            border-collapse: collapse !important;
        }
        .prose table {
            box-shadow: none !important;
        }
    </style>
</head>
<body class="min-h-screen bg-gray-50 flex flex-col">
    <header class="w-full text-center mb-8 pt-8">
            <a href="/" class="text-4xl font-bold text-gray-800 no-underline hover:underline">
                Ryan Joyce
            </a>
    </header>
    
    <!-- This container takes up all available space and centers the image vertically -->
    <div class="flex-grow flex items-center justify-center">
        {% if profileImage %}
            <img src="/assets/images/{{ profileImage }}" alt="Ryan Joyce" class="rounded-lg w-64 border-2 border-white shadow-md">
        {% endif %}
    </div>
    
    <!-- This container is fixed at the bottom with the links -->
    <main class="pb-20">
        <div class="text-center prose prose-lg min-w-60% max-w-4xl mx-auto">
            {{ content | safe }}
        </div>
    </main>
</body>
</html> 